* {
	margin: 0;
	padding: 0;

	--spacing: 10px;
}

body {
	font-family: monospace;
	font-size: 16pt;
}

.hidden {
	display: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

#timer {
	font-size: 48pt;
}

#timer>div {
	font-weight: bold;
	text-decoration: underline;
}

#clocks-parent {
	font-size: 16pt;
	display: grid;
	justify-content: center;
	align-items: end;
	justify-items: center;
	grid-template-columns: repeat(3, auto);
	gap: var(--spacing);
}

.one-clock {
	border: 1px solid black;
	width: min-content;
	height: -webkit-fill-available;
}

.one-clock>div {
	text-align: center;
}

.one-clock>div:not(:last-child) {
	border-bottom: 1px solid black;
}

.one-clock>.name {
	font-weight: bold;
}

.one-clock>.description {
	height: -webkit-fill-available;
}

.one-clock>.body {
	padding: 4px;
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: calc(var(--spacing) * 3) 0;
	padding-bottom: 24px;
}

.one-clock>.body>text {
	text-align: right;
}

.one-clock>.body>div {
	gap: var(--spacing);
}

.one-clock>.body>div {
	justify-content: flex-end;
}

.one-clock>.body hr {
	width: 20px;
	height: 20px;
	border: black solid 3px;
	position: relative;
	overflow: visible;
	display: flex;
	justify-content: center;
}

.one-clock>.body hr[e=t] {
	background-color: limegreen;
	box-shadow: 0 0 6px 1px limegreen;
}

.one-clock>.body hr[e=t]:after {
	content: attr(v);
	position: absolute;
	top: 23px;
	line-height: 1em;
}

.one-clock>.body>div>div {
	gap: var(--spacing);
}

.one-clock>.menu {
	gap: var(--spacing);
	padding: calc(var(--spacing) / 2);
}

.clock-3>div {
	gap: 40px !important;
}


.main-description {
	text-align: center;
}